.player{
    position: absolute;
    background-color: red;
    width: 40px;
    height: 40px;
    top: 50%;

    transition: 2s;
    animation: move 5s infinite;
}
@keyframes move {
    0%,100%{
        left: 0;
    }
    50%{
        left: 90%;
    }
}













